<!DOCTYPE html>
<html ng-app="main">
<head>
    <script src="libs/angular.min.js"></script>
    <!-- libs:js -->
	<!-- endinject -->
	<!-- inject:js -->
	<!-- endinject -->
    <!-- inject:css -->
	<!-- endinject -->
    <title>xSolve</title>
</head>
<body ng-controller="mainCtrl">
    <header>
        <search-field query="query" item-size="itemSize"></search-field>
    </header>
    <main images-loaded-events="ctrl.imgLoadedEvents">
        <media-row media-list="mediaRow" ng-repeat="mediaRow in mediaRows"></media-row>
    </main>
    <footer>
        <button class="button-more" ng-click="addRow()">More ></button>
    </footer>
</body>
</html>