@import "variables";
@import "mixins";

html {
    font-size: 62.5%;

    .body {
        background-color: $backgroundColor;
        @include font-size(1.7);
        color: $fontColor;
        font-family: $font;
    }
}