@import "variables";
@import "mixins";
@import url(flaticon.css);

.media-row-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    .main-container {
        width: 86%;

        .media-item {
            display: inline-block;
            text-align: left;
            width: 33.3%;
        }
    }

    .button-container {
        width: 7%;
        min-width: 55px;

        .button {
            background-color: $fontColor;
            width: 50px;
            height: 50px;
            color: $backgroundColor;
            border-radius: 50%;
            border: 0;
            margin-top: 130px;

            &.left {
                float: right;
            }

            &.right {
                float: left;
            }

            .arrows {
                @include font-size(3.2);
                font-family: "Flaticon";
                font-style: normal;
                font-weight: bold;
                cursor: pointer;

                &.arrow-left {
                    margin-left: -6px;
                }
                
                &.arrow-right {
                    margin-left: 6px;
                }
            }    
        }
    }
}