@import "variables";
@import "mixins";

.media-item-container {
    width: 400px;
    height: 325px;
    border: 2px solid #cccccc;

    .media-image {
        width: 400px;
        height: 325px;
    }

    .media-text {
        position: relative;
        background-color: rgba(51, 51, 51, 0.7);
        width: 400px;
        height: 55px;
        margin-top: -60px;
        @include font-size(2);
        span {
            padding-left: 20px;
            padding-right: 20px;
            line-height: 60px;
            display: block;
            @include elipsis;
        }
        
    }    

}